/* body{
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: #fff;
    font-family: "poppins", sans-serif;
    text-align: center;
}
h1{
    margin-top: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
}
h4{
    font-size: 20px;
    margin-top: 10px;
    color: #ccc;
}
p{
    margin-top: 20px;
    color: #bbb;
}
img{
    border-radius: 12px;
    transform: 0.3s;
}
img:hover{
    transform: scale(1.08);
}
.profile-img{
    width: 230px;
    margin-top: 15px;
    box-shadow: 0 0 20px #00eaff;
}
.section-title {
    text-align: left;     
    width: 60%;           
    margin: 0 auto 10px;  
    font-size: 22px;
    font-weight: bold;
}
.row {
    display: inline-flex;       
    justify-content: center;
    align-items: center;
    gap: 25px;                 
    margin-top: 20px;
}

.facebook-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 25px #1877f2;
    cursor: pointer;
}
.facebook-icon:hover{
    transform: scale(1.15);
    box-shadow: 0 0 25px #1877f2;
} */



